<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124852362224-p4snnff6m9e0ms3lprjrm1r203vp2ooc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124852362224-p4snnff6m9e0ms3lprjrm1r203vp2ooc</string>
	<key>API_KEY</key>
	<string>AIzaSyD3T_tYY_93kkAIgAw5S4LKx-aJsQUs7LE</string>
	<key>GCM_SENDER_ID</key>
	<string>124852362224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>r.alotaibi.shopApp</string>
	<key>PROJECT_ID</key>
	<string>online-shop-f8065</string>
	<key>STORAGE_BUCKET</key>
	<string>online-shop-f8065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124852362224:ios:264c98198a427625f11b35</string>
</dict>
</plist>